<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pae.seguros">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".consultar_seguros.ConsultarSeguroActivity" />
        <activity android:name=".vehiculos.AddVehicle" />
        <activity android:name=".vehiculos.QrCodeScanner" />
        <activity android:name=".conductores.AddDriver" >
            <meta-data
                android:name="android.nfc.action.TAG_DISCOVERED"
                android:resource="@xml/filter_nfc"/>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
            </intent-filter>
        </activity>
        <activity android:name=".conductores.dni_ocr.DniOcrMain"
            android:label="@string/OcrDNI" />
        <activity android:name=".conductores.UserForm"
            android:label="@string/UserForm" />
        <activity android:name=".vehiculos.VehiculosForm"
            android:label="VehicleForm"/>
        <activity android:name=".vehiculos.VehiculosFormNoSpinner"
            android:label="VehiculosFormNoSpinner"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name=".introduction.IntroActivity"
            android:theme="@style/IntroTheme" />
    </application>
</manifest>